.tarea {
    width: 45%;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin: 1px;
}

.sbtn {
    clear: both;
    float: left;
    background-color: blue;
    color: white;
    height: 50px;
    width: 80px;
    border-radius: 10px;
}
