* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
:target {
    display: block;
    position: relative; 
    visibility: hidden;
}
.head {
    text-align: center;
    background-color: steelblue;
    padding: 20px;
}
h1 {
    font-size: 30px;
}
.uhtxt {
    font-weight: bolder;
    font-size: 16px;
}
.uhuhtxt {
    font-size: 16px;
}
.main {
    width: 100%;
    text-align: center;
}
.t1 {
    width: 80%;
    height: 60vh;
    border: 4px solid black;
    padding: 20px;
}
.enter {
    font-size: 30px;
    font-weight: bold;
}
.sbtn {
    height: 60px;
    background-color: steelblue;
    font-weight: bolder;
    font-size: 20px;
    display: block;
    margin-left: 10%;
}
.t2 {
    width: 80%;
    height: 60vh;
    border: 4px solid black;
    padding: 20px;
}
